<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="txbxInitialCustomerAmount" value="50"/>
    <add key="txbxNumTellers" value="3"/>
    <add key="txbxNumCustomers" value="20"/>
    <add key="txbxInitialVaultAmount" value="1000"/>
    <add key="txbxMaxTransaction" value="100"/>
    <add key="txbxGoal" value="500"/>
  </appSettings>
</configuration>